<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718890428299-amgpm97nkfvu0nqg7i2mjmcul0f9c4o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718890428299-amgpm97nkfvu0nqg7i2mjmcul0f9c4o8</string>
	<key>API_KEY</key>
	<string>AIzaSyABU1Lg8KhKHX58vQQ9Cxo_pD5izyTqjco</string>
	<key>GCM_SENDER_ID</key>
	<string>718890428299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sachin.Saturday-League</string>
	<key>PROJECT_ID</key>
	<string>saturdayleaguefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>saturdayleaguefirebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718890428299:ios:eeb947c2285cc910c4f18e</string>
</dict>
</plist>